@import './variables';

.title {
  font-size: 35px;
  font-weight: 600;
  line-height: 50px;
}

.subtitle {
  font-size: 25px;
  font-weight: 600;
  line-height: 36px;
}

.xs {
  font-size: 12px;
  font-weight: 400;
  line-height: 17px;
}

.xs-medium {
  font-size: 12px;
  font-weight: 500;
  line-height: 17px;
}

.sm {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

.sm-medium {
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
}

.md {
  font-size: 16px;
  font-weight: 400;
  line-height: 23px;
}

.md-medium {
  font-size: 16px;
  font-weight: 500;
  line-height: 23px;
}


.lg {
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
}


.lg-medium {
  font-size: 18px;
  font-weight: 500;
  line-height: 26px;
}

.xl {
  font-size: 20px;
  font-weight: 400;
  line-height: 29px;
}


.xl-medium {
  font-size: 20px;
  font-weight: 500;
  line-height: 29px;
}